
body{
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Style Header */
ul{
  list-style: none;
  padding-right: 0.7em;
}

.mainMenu{
  background-color: #192028;
  padding-top: 3.5em;
  padding-bottom: 2.5em;
  padding-left: 1.7em;
  margin-right: 0px;
  color: #fff; 
}

.mainMenu h4 {
  font-family: 'Anton', sans-serif; 
  padding-right: 0.9em; 
  margin-top: 0;
}

.mainMenu a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.mainMenu li a:hover {
  background-color: transparent;
  color: #FB592D; 
}

.boxMenu {
  display: inline-block;
  text-align: right;
  border-right: 0.4em solid #FB592D; 
}
/* End Style Header */

/* Style Work Section */
.works {
  background-color: #F5F1E4;
  background-attachment: fixed;
  text-align: left;
  font-family: 'Anton', sans-serif;
  padding-top: 3em;
  padding-bottom: 3em; 
  margin-right:0;
}

.works h4, .skills h4{
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #FB592D; 
}

.barra{
  margin:0;
  padding-left: 0;
}

.works hr {
  border: 0.4em solid;
  width: 2em;
  margin: 0; 
  color: #FB592D;
}

.rowOfWorks {
  padding-top: 3em;
  padding-bottom: 3em; 
}

.workBox {
  border: none;
  padding-top: 1em;
  padding-bottom: 0.5em; 
}

.workBox h3 {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  color:#FB592D;
}

.workBox p {
  font-family: 'Montserrat', sans-serif; 
  text-align: justify;
}

.titleBox{
  padding-left: 0;
}

.workButton{
  background-color: #FB592D;
  color:#F5F1E4; 
}

.btn1{
  margin-right: 1em;
}

.workButton:hover {
  background-color: #192028;
  color:#F5F1E4;
}
 
/* End Style Work Section */

/* Style About Section */
#aboutSections{
  width: 100%;
  height: 100vh;
  background-color: #FB592D;
}

.about { 
  color:#fff;
  font-family: 'Anton', sans-serif;
  padding-top: 3em;
  padding-bottom: 3em; 
  text-align: left;
  margin-right:0;
}

.about h4 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

.about hr {
  border: 0.4em solid;
  width: 2em;
  margin: 0; 
}

.rowOfAbout {
  padding-top: 3.5em;
  padding-bottom: 3em; 
  vertical-align: middle !important;
}

.aboutBox {
  margin-top:2em;
  background-color: #FB592D;
  border: 0.1em solid #fff; 
}

.aboutBox p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  text-align: justify; 
}

.perfilBox {
  background-color: transparent;
  margin: 0.5em;
  padding: 0.9em; 
}
/* End Style About Section */

/* Style Tools Section */
#toolSection{
  width: 100%;
  height: 100vh;
  background-color: #192028;
}

.tools {  
  color: #FB592D;
  font-family: 'Anton', sans-serif;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0; 
  text-align: left;
}

.tools h4 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color: #fff;
}

.tools hr {
  border: 0.4em solid;
  width: 2em;
  margin: 0; 
  color: #fff;
}

.tools i{
  font-size: 5em;
}

.iconBox{
  margin-top: 4em;
}

.rowIconBoxF{
  margin-top:2em;
}

.rowIconBoxT{
  margin-bottom: 3em;
}
/* End Style Tools Section */

/* Style Contact Section */
#contactSections{
  width: 100%;
  height: 100vh;
  background-color: #F5F1E4;
}

.contact{  
  text-align: left;
  font-family: 'Anton', sans-serif;
  padding-top: 3em;
  padding-bottom: 3em; 
  margin-right:0;
}

.contact h4{
  font-size: 2.5em;
  margin-bottom: 0.2em;
  color:  #192028;
}

.contact hr {
  border: 0.4em solid;
  width: 2em;
  margin: 0; 
  color:  #192028;
}
/* End Style Contact Section */

/* Interactive Bussines Card */
.businessCard{
  padding-top: 3em;
  padding-bottom: 3em; 

}
/* THE FRONT */
.front {
  background-image: url(./../img/Logo-personal.jpg);
  background-size: 50%;
  background-color:   #192028;
  background-position: center;
  background-repeat: no-repeat;
}
/* /end */

/* THE BACK   */
.back {
  background-image: url(./../img/bussines-card-B.jpg);
  background-size: 600px 350px;
}

.back p, .back .font-a-icons {
  color: #192028;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30%;
  line-height: 90%;
}

.back h2 {
  margin-top: 5%;
  color:   #192028;
  font-family: 'Anton', sans-serif;
  margin-left: 30%;
  line-height: 90%;
}

.back p {
  font-size: 16px;
  padding-bottom: 15px;
  width: 35%;
  border-bottom: 2px solid #FB592D;
}

.back .bold {
  font-weight: bold;
}

.back .font-a-icons {
  margin-top: 25px;
}

.back .font-a-icons .icon-group {
  margin-top: 8px;
}

.back .font-a-icons span, .back .font-a-icons .link, .back .font-a-icons .fa, .back .font-a-icons a {
  color:    #192028;
}

.back .font-a-icons .fa {
  font-size: 18px;
}

.back .font-a-icons span, .back .font-a-icons a {
  font-size: 16px;
}

.back .font-a-icons a, .back .font-a-icons .website {
  text-decoration: none;
}

.back .font-a-icons a:hover, .back .font-a-icons .website:hover {
  color:    #192028;
}

.icon-group span{
  line-height: 2em;
}

.back .icon-box {
  position: relative;
  color:#FB592D;
  font-size: 24px;
  height: 45px;
  width: 45px;
  padding: 5px;
  top: 75px;
  left: 30%;
  display: inline-block;
  border: 2px solid #FB592D;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.back .icon-box:hover {
  box-shadow: inset 0 50px 0 0     #192028;
  color: #fff;
  border: 2px solid     #192028;
}
/* /end */

/* THE FLIP EFFECT */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container, .front, .back {
  height: 350px;
  width: 600px;
}

.flipper {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
   firefox: 31; 
  transform: rotateY(0deg);
}

.back {
  background-color: #000;
}

.back {
  transform: rotateY(180deg);
}

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
  transform-origin: 100% 400x;
}

.vertical.flip-container:hover .flipper {
  transform: rotateX(-180deg);
}
/* End Interactive bussines card */

/* Style SmallContact */

.smallContact {
  background-color: #FB592D;
  color: #F5F1E4;
  -webkit-box-shadow: 10px 10px 31px 0px rgba(77,74,77,0.42);
-moz-box-shadow: 10px 10px 31px 0px rgba(77,74,77,0.42);
box-shadow: 10px 10px 31px 0px rgba(77,74,77,0.42);
}

.smallContact p{
  font-family: 'Montserrat', sans-serif;
}

.smallContact hr{
  border: 0.05em solid;
  margin-bottom: 0.5em; 
  color: #192028;
  width: auto; 
}

.dataInfo{
  font-family: 'Montserrat', sans-serif;
  color:#F5F1E4;
  font-size: 1em;
  margin-bottom: 1em;
  padding-left: 0;
}

.dataInfo a{
  color: #F5F1E4;
}
.iconInfo a{
  font-size: 2em;
  color: #F5F1E4;
  margin: 0.3em;
}

.iconInfo a:hover{
  color: #192028;
}
/* End Style SmallContact */
